*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* ROOT */
:root{
    --bg-color: #000000;
    --text-color: white;
    --logo-color: snow;
    --ahover-color: #FB5607;
    --bg2-color: #0EAD69;
    --footer-color: #242424;
}

/* BODY */
body{
    color: var(--text-color);
    background: var(--bg-color);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.about-text span{
    font-size: 5rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.about-text h2{
    font-size: 1.3rem;
    font-family: 'Black Ops One', cursive;
    margin: 40px;
    justify-content: space-between;
    display:flex;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 2px;
    text-align: justify;
    text-transform: uppercase;

}

nav-link{
    font-size: 6rem;
    color: #000000;
}

.popular-text{
    font-size: 6rem;
    color: var(--text-color);
    text-align: center;
    align-items: center;
    font-family: 'Black Ops One', cursive;
}

.popular-container{
    display: grid;
    place-items: center;
}

.popular-container img{
    width: 30rem;
    transform: translateX(0px);
}

.nav-link{
    color: #000000;
    font-family:'Kdam Thmor Pro', sans-serif; 
    font-size: 1.2rem;
}

.nav-link:hover{
    color: var(--text-color);
}

.navbar-brand {
    font-weight: 600;
    font-size: 5rem;
    font-family: 'Black Ops One', cursive;
}
.fs-4 {
    font-weight: 600;
    font-size: 5rem;
    font-family: 'Black Ops One', cursive;
}

.start-btn{
    background: #0EAD69;
    border: none;
    color: var(--logo-color);
    padding: 15px 35px;
    border-radius: 35px;
    font-size: 1.2rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.start-btn:hover{
    box-shadow: 0 6px 8px 0 rgb(0, 226, 68), 0 7.5px 25px 0 rgb(0, 226, 68);
    transform: translateY(-5px);
    transition: 0.5s;
    background:#47ffaf;
    color: var(--logo-color);
}

#offcanvasNavbar{
    background: #0EAD69;
}