*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* ROOT */
:root{
    --bg-color: #050f15;
    --text-color: #CCD0CF;
    --logo-color: snow;
    --ahover-color: #FB5607;
    --bg2-color: #0EAD69;
    --footer-color: #242424;
}

/* BODY */
body{
    color: var(--text-color);
    background: var(--bg-color);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.about-text span{
    font-size: 5rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    float: left;
    left: 60px;
}

.about-text h2{
    font-size: 1.3rem;
    font-family: 'Black Ops One', cursive;
    margin: 40px;
    justify-content: space-between;
    display:flex;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 2px;
    text-align: justify;
    text-transform: uppercase;
    float: right;

}

nav-link{
    font-size: 6rem;
    color: #000000;
}

.popular-text{
    font-size: 6rem;
    color: var(--text-color);
    text-align: center;
    align-items: center;
    font-family: 'Black Ops One', cursive;

}

.popular-container{
    display: grid;
    place-items: center;
}

.popular-container img{
    width: 30rem;
    transform: translateX(0px);
    opacity: 1.2;
    filter: contrast(1.2);
}
.popular-container h4{
    font-size: 1.5rem;
    font-family: 'Black Ops One', cursive;
    float: left;
    
}

.nav-link{
    color: var(--logo-color);
    font-family:'Kdam Thmor Pro', sans-serif; 
    font-size: 1.2rem;
    border-radius: 12px 25px;
}

.nav-link:hover{
    color: var(--bg-color);
    font-size: 1.4rem;
    background: #CCD0CF;
    border-radius: 12px 25px;
    box-shadow: 0 6px 8px 0 #4A5C6A, 0 7.5px 25px 0 #4A5C6A;
}

.navbar-brand {
    font-weight: 600;
    font-size: 5rem;
    font-family: 'Black Ops One', cursive;
}
.fs-4 {
    font-weight: 600;
    font-size: 5rem;
    font-family: 'Black Ops One', cursive;
}

.start-btn{
    background: #11212D;
    border: none;
    color: var(--logo-color);
    padding: 15px 35px;
    border-radius: 35px;
    font-size: 1.2rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.start-btn:hover{
    box-shadow: 0 6px 8px 0 #4A5C6A, 0 7.5px 25px 0 #4A5C6A;
    transform: translateY(-5px);
    transition: 0.5s;
    background: #4A5C6A;
    color: var(--logo-color);
}

#offcanvasNavbar{
    background: #9BA8AB;
    border: medium none;
    background-image: none; 
    background: transparent;
    float: left;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.featured img{
    width: 30rem;
    display: grid;
    place-items: center;
}

.popular-container .popular-moto{
    color: var(--text-color);
    font-size: 3rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-decoration: none;
}

.popular-container .popular-moto:hover{
    color: white;
    font-size: 3.2rem;
}


.carousel-inner {
    position: relative;
}
.carousel-item {
}
.carousel-item.active {
}
.card-img {
}
.w-50 {
}
